@tailwind utilities;
@tailwind components;
@tailwind base;

#root {

}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: rgb(121, 230, 175);
}